.alert {
  background: #7a4a58;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  color: white;
  margin: 0;
  width: 100%; }

.menu-options {
  background: #c8c6cb;
  margin: 0;
  padding-right: 50px; }
  .menu-options a {
    font-size: 14px;
    color: #6a6a6a;
    padding-left: 20px; }

.logo {
  width: 250px; }

.bar-options {
  color: black; }

.search-bar {
  width: 230px;
  border-style: solid;
  border-width: thin;
  border-color: #6a6a6a;
  padding: 5px; }
  .search-bar input {
    width: 190px;
    border: none;
    padding-left: 10px; }
  .search-bar button {
    width: 10px;
    font-size: 20px;
    color: #6a6a6a;
    border: none;
    padding: 0;
    background-color: white; }

.search-bar-footer {
  width: 99%;
  border-style: solid;
  border-width: thin;
  border-color: #6a6a6a;
  padding: 5px; }
  .search-bar-footer input {
    width: 88%;
    border: none;
    padding-left: 10px; }
  .search-bar-footer button {
    width: 9%;
    font-size: 20px;
    color: #6a6a6a;
    border: none;
    padding: 0;
    background-color: white; }

@font-face {
  font-family: glyphicons;
  src: url("fonts/glyphicons-halflings-regular.ttf"); }

.bar-options {
  width: 100px;
  background-color: white;
  border-style: hidden;
  font-weight: bold;
  font-size: 18px;
  color: #6a6a6a;
  font-family: glyphicons; }

.right-elements-header {
  padding-top: 15px; }

.right-elements-header-free {
  color: #7a4a58; }

.right-elements-header-free:hover {
  color: #7a4a58 !important; }

.right-elements-header-button {
  background: white;
  border-style: hidden;
  font-weight: bold;
  color: #6a6a6a; }

.menu-hr {
  margin: 0;
  padding: 0;
  color: #c8c6cb;
  border-color: #c8c6cb;
  border-width: medium; }
